%html
  #header
    %h1 IdeaBox
    %form{:action => "/", :method => "POST"}
      %p
        Your Idea:
      %input{:name => "idea[title]", :type => "text"}
      %br
      %textarea{:name => "idea[description]"}
      %br
      %input{:type => "submit"}
  
